<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= character.age %>
  </p>

  <p>
    <strong>Alias:</strong>
    <%= character.alias %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= character.height %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= character.shortname %>
  </p>

  <p>
    <strong>Biography:</strong>
    <%= character.biography %>
  </p>
</div>
