<!DOCTYPE html>
<html>
  <head>
    <title>Argonaut</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="toolbar">
      <ul class="menu">
        <li><%= link_to('Home', root_path) %></li>
        <li><%= link_to('Characters', characters_path) %></li>
      </ul>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
